<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>

<body>
    <%- include('partials/nav') %>
    <p>welcome to the about page</p>
    <p><%= qs.role %></p>
    <p><%= qs.age %></p>


    <form action="">
        <label for="who">Name</label>
        <input type="text" name="who" id="who" value="<%= qs.name %>">

        <label for="job">Job</label>
        <input type="text" name="job" id="job" value="<%= qs.job %>">

        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="<%= qs.email %>">
        <button type="submit">Submit</button>
    </form>
</body>

</html>